.container {
    display: flex;
    height: 100vh;

    .scrollable {
      overflow-y: auto;
      padding: 20px;
      box-sizing: border-box;
      overflow: auto;
      img{
        width: 100%;
      }
      &.left {
        padding-top: 120px;
        width: 50vw;
        background-color: #fff;
      }
      
      &.right {
        background-color: #d0d0d0;
        width: 44vw;
      }

      h2 {
        margin-top: 0;
      }
      
      p {
        margin: 10px 0;
      }
    }
    
    
  }
  
  