#root > * > * {
  //   outline: 5px dashed red;
}
.open {
  height: 100vh;
}

.open > img {
  width: 100%;
}
.intro {
  height: 100vh;
}
.centerlogo {
  height: 100%;
  display: flex;
  justify-content: center;
}
.bbbb {
  height: 100%;
  margin: 0 3vw;
}
.centerlogo .bbbb img {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  width: 28vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.aaaa,
.cccc {
  height: 100%;
  .민지 {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}
.artists {
  height: 100vh;
}
.artists > ul > li > img {
  width: 100%;
}
.artists > img:first-child {
  height: 100%;
}

.release {
  position: relative;
  height: 100vh;
  white-space: nowrap;
  overflow: hidden;
  > div {
    position: absolute;
    width: 100%;
    font-size: 40px;
  }
  // 첫째루프
  .first-loop {
    top: 0;
    z-index: 999;
  }
  // 둘째루프
  .second-loop {
    bottom: 0;
    z-index: 999;
  }
  .loop-station {
    position: relative;
    left: 0;
    display: flex;
    > div {
      padding: 15px 30px;
      flex-shrink: 0;
    }
  }
  .text-marquee {
    background-color: #fff;
  }

  .album {
    // position: relative;
  }

  .album ul {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .album ul li {
    transition: 0.4s ease-in-out;
    filter: grayscale(80%);
  }

  .album ul li img {
    width: 300px;
  }
  .album ul li:nth-child(1) {
    left: -300%;
  }
  .album ul li:nth-child(2) {
    left: -200%;
    opacity: 0;
  }
  .album ul li:nth-child(3) {
    left: -100%;
  }
  .album ul li:nth-child(4) {
    /* border-radius: none; */
    left: 0%;
    filter: none;
  }
  .album ul li:nth-child(3):hover img {
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
  }
}

.music-video{
  height: 100vh;
}