@charset "utf-8";

/* 1차프로젝트 CSS */

/* 12그리드 불러오기 */
@import url(./reset.css);
@import url(./grid_12_float.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed gray;
}

.main-area{
    height: 100vh;
}

/* .circle{
    position: absolute;
    top: 10em;
    left: 60em;
    width: 1000px;
    height: 1000px;
    background-color: lavender;
    border-radius: 1000px;
} */

.introduce-area{
    height: 100vh;
}

.work-area1{
    height: 100vh;
}

.work-area2{
    height: 100vh;
}

.work-area3{
    height: 100vh;
}

/* 인디케이터 */
.indic {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    left: 5%;
    /* width: 20px; */
    /* outline: 3px dotted blue; */
}

.indic li {
    width: 100%;
    height: 30px;
    margin: 3px 0;
    cursor: pointer; /* 손가락모양 */
}

/* a요소 */
.indic a {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #777;
    transition: width 0.4s;
}

/* 마우스 오버시 + 클래스 "on" */
.indic li:hover a,
.indic li.on a {
    transform: scale(1.5);
    /* width: 150%; */
    background-color: rgb(233, 120, 154);
}

/* 설명글자숨기기 */
.indic span {
    display: none;
}