/* DC.com 핵심공통 CSS - core.css */
// 웹폰트를 로컬에서 쓸 경우 여기에 넣기

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// font-family: "Noto Sans KR", sans-serif;
// font-optical-sizing: auto;
// font-weight: <weight>;
// font-style: normal;

body{
    font-family: "Noto Sans KR", sans-serif;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}
